
<ul>
	<h3>Chăm sóc khách hàng</h3>
	<li><a href="template/index.html">Hotline 1 : 0973 743 326 -
			0904 566 377</a></li>
	<li><a href="template/single.html">Hotline 2 : 0973 743 326 -
			0988 686 205</a></li>
	<li><a href="template/single.html">Hotline 3 : 0988 252 534</a></li>
	<li><a href="template/single.html">Hotline 4 : Ms. Hoai - 0936
			773 915</a></li>
</ul>
<ul>
	<h3>Hỗ trợ thanh toán</h3>
	<li><img src="template/images/cards.png"></li>
</ul>
<ul>
	<h3>Liên hệ</h3>
	<li><a href="template/index.html">Địa chỉ: Khách sạn
			DMCHOTEL,535 Kim Mã - Ba Đình - Hà Nội </a></li>
	<li><a href="template/single.html">Tel: 04.2220.9888</a></li>
	<li><a>Chia sẻ: <a style="font-size: 30px;"><i
				class="fa fa-facebook-square"></i></a> <a style="font-size: 30px;"><i
				class="fa fa-google-plus-square"></i></a> <a style="font-size: 30px;"><i
				class="fa fa-twitter"></i></a></a></li>
</ul>
<div class="clear"></div>