<div class="logo">
	<a ui-sref="template.home"><img src="template/images/bg_banner.jpg"
		alt="" /></a>
</div>
<div class="nav">
	<ul>
		<li ui-sref-active="active"><a ui-sref="template.home">Home</a></li>
		<li ui-sref-active="active"><a ui-sref="template.apartment.home">Phòng khác sạn</a></li>
<!-- 		<li ui-sref-active="active"><a ui-sref="template.office.home">Văn phòng</a></li> -->
		<li ui-sref-active="active"><a ui-sref="template.tarrif">Biểu giá</a></li>
		<li ui-sref-active="active"><a ui-sref="template.reservation">Đặt phòng</a></li>
		<li ui-sref-active="active"><a ui-sref="template.feedback">Liên hệ</a></li>
		<div class="clear"></div>
	</ul>
</div>
<div class="clear"></div>