
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>The Lounge Hotel Website Template | Home :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="template/css/style.css" type="text/css"
	media="all" />
<link rel="stylesheet" href="template/js/slider-styles.css"
	type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC'
	rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="wrap">
		<div class="header" data-ng-include=" 'template/block/header.html' "></div>
		<div class="main-body fade-in-up" ui-view></div>
		<div class="footer" data-ng-include=" 'template/block/footer.html' "></div>
		<div class="copy">
			<p>
				&copy; 2016 rights Reseverd | Design by <a
					href="www.mypay.vn">www.mypay.vn</a>
			</p>
		</div>
	</div>
</body>
</html>
