<div>
	<h2>Danh sách thông tin đăng ký</h2>
	<jh-alert></jh-alert>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<button class="btn btn-primary" ui-sref="register_info.new">
					<span class="glyphicon glyphicon-flash"></span> <span>Tạo
						mới</span>
				</button>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped" style="width: 3000px">
			<thead>
				<tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
					<th jh-sort-by="id"><span>STT</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="date_checkin"><span>ngày check-in</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="date_checkout"><span>Ngày check-out</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="number_of_adult"><span>Số lượng người
							lớn</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="number_of_kid"><span>Số lượng trẻ em</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="other_request"><span>Yêu cầu khác</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="deposit_value"><span>Giá trị đặt cọc</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="currency.code"><span>Đơn vị tính</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="room.code"><span>Mã phòng</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="customer.full_name"><span>Tên khách
							hàng</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="method_payment.name"><span>Phương thức
							thanh toán</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="status_payment.name"><span>Trạng thái
							thanh toán</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="method_register.name"><span>Phương thức
							đăng ký</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="status_register.name"><span>Trạng thái
							đăng ký</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="create_by.login"><span>Người tạo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="create_date"><span>Ngày tạo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="last_modified_by.login"><span>Người sửa
							cuối</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="last_modified_date"><span>Ngày sửa cuối</span>
						<span class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="register_info in register_infos track by register_info.id">
					<td><a ui-sref="register_info.detail({id:register_info.id})">{{$index+1}}</a></td>
					<td>{{register_info.date_checkin | date:'dd/MM/yyyy'}}</td>
					<td>{{register_info.date_checkout | date:'dd/MM/yyyy'}}</td>
					<td>{{register_info.number_of_adult}}</td>
					<td>{{register_info.number_of_kid}}</td>
					<td>{{register_info.other_request}}</td>
					<td>{{register_info.deposit_value | currency: "":0}}</td>
					<td><a
						ui-sref="currency.detail({id:register_info.currency.id})">{{register_info.currency.code}}</a>
					</td>
					<td><a ui-sref="room.detail({id:register_info.room.id})">{{register_info.room.code}}</a>
					</td>
					<td><a
						ui-sref="customer.detail({id:register_info.customer.id})">{{register_info.customer.full_name}}</a>
					</td>
					<td><a
						ui-sref="method_payment.detail({id:register_info.method_payment.id})">{{register_info.method_payment.name}}</a>
					</td>
					<td><a
						ui-sref="status_payment.detail({id:register_info.status_payment.id})">{{register_info.status_payment.name}}</a>
					</td>
					<td><a
						ui-sref="method_register.detail({id:register_info.method_register.id})">{{register_info.method_register.name}}</a>
					</td>
					<td><a
						ui-sref="status_register.detail({id:register_info.status_register.id})">{{register_info.status_register.name}}</a>
					</td>
					<td>{{register_info.create_by.login}}</td>
					<td>{{register_info.create_date | date:'dd/MM/yyyy hh:mm:ss'}}</td>
					<td>{{register_info.last_modified_by.login}}</td>
					<td>{{register_info.last_modified_date | date:'dd/MM/yyyy
						hh:mm:ss'}}</td>
					<td>
						<button type="submit"
							ui-sref="register_info.detail({id:register_info.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>
								View</span>
						</button>
						<button type="submit"
							ui-sref="register_info.edit({id:register_info.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>
								Edit</span>
						</button>
						<button type="submit"
							ui-sref="register_info.delete({id:register_info.id})"
							class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>
								Delete</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<uib-pagination class="pagination-sm" total-items="totalItems"
			ng-model="page" ng-change="loadAll()"></uib-pagination>
	</div>
</div>
