
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCompanyLabel">Create or edit a Company</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="company.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="company.name"
                    required ng-maxlength="255" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="company.address"
                    ng-maxlength="255" />
            <div ng-show="editForm.address.$invalid">
                <p class="help-block"
                    ng-show="editForm.address.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fax">Fax</label>
            <input type="text" class="form-control" name="fax" id="field_fax"
                    ng-model="company.fax"
                    ng-maxlength="20" />
            <div ng-show="editForm.fax.$invalid">
                <p class="help-block"
                    ng-show="editForm.fax.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_phone_number">Phone_number</label>
            <input type="text" class="form-control" name="phone_number" id="field_phone_number"
                    ng-model="company.phone_number"
                    ng-maxlength="20" />
            <div ng-show="editForm.phone_number.$invalid">
                <p class="help-block"
                    ng-show="editForm.phone_number.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tax_code">Tax_code</label>
            <input type="text" class="form-control" name="tax_code" id="field_tax_code"
                    ng-model="company.tax_code"
                    ng-maxlength="20" />
            <div ng-show="editForm.tax_code.$invalid">
                <p class="help-block"
                    ng-show="editForm.tax_code.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bank_account">Bank_account</label>
            <input type="text" class="form-control" name="bank_account" id="field_bank_account"
                    ng-model="company.bank_account"
                    ng-maxlength="20" />
            <div ng-show="editForm.bank_account.$invalid">
                <p class="help-block"
                    ng-show="editForm.bank_account.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_create_date">Create_date</label>
            <input id="field_create_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="company.create_date" is-open="datePickerForCreate_date.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreate_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_last_modified_date">Last_modified_date</label>
            <input id="field_last_modified_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="company.last_modified_date" is-open="datePickerForLast_modified_date.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForLast_modified_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

        <div class="form-group">
            <label for="field_bank">bank</label>
            <select class="form-control" id="field_bank" name="bank" ng-model="company.bank" ng-options="bank as bank.bank_code for bank in banks track by bank.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_create_by">create_by</label>
            <select class="form-control" id="field_create_by" name="create_by" ng-model="company.create_by" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_last_modified_by">last_modified_by</label>
            <select class="form-control" id="field_last_modified_by" name="last_modified_by" ng-model="company.last_modified_by" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
