
<form name="editForm" role="form" novalidate ng-submit="save()"
	show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="clear()">&times;</button>
		<h4 class="modal-title" id="myEventLabel">Tạo mới</h4>
	</div>
	<div class="modal-body">
		<jh-alert-error></jh-alert-error>
		<div class="form-group">
			<label for="id">Mã sự kiện</label> <input type="text"
				class="form-control" id="id" name="id" ng-model="event.id" readonly />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_title">Tiêu đề</label>
			<textarea type="text" class="form-control" name="title"
				id="field_title" ng-model="event.title" ng-maxlength="255"></textarea>
			<div ng-show="editForm.title.$invalid">
				<p class="help-block" ng-show="editForm.title.$error.maxlength"
					translate-value-max="255">This field cannot be longer than 255
					characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_decription">Mô tả</label>
			<textarea type="text" class="form-control" name="decription"
				id="field_decription" ng-model="event.decription" ng-maxlength="255"></textarea>
			<div ng-show="editForm.decription.$invalid">
				<p class="help-block" ng-show="editForm.decription.$error.maxlength"
					translate-value-max="255">This field cannot be longer than 255
					characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_start_date">Ngày
				triển khai</label> <input id="field_start_date" type="text"
				class="form-control" uib-datepicker-popup="{{dateformat}}"
				ng-model="event.start_date"
				is-open="datePickerForStart_date.status.opened" /> <span
				class="input-group-btn">
				<button type="button" class="btn btn-default"
					ng-click="datePickerForStart_dateOpen($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_end_date">Ngày kết
				thúc</label> <input id="field_end_date" type="text" class="form-control"
				uib-datepicker-popup="{{dateformat}}" ng-model="event.end_date"
				is-open="datePickerForEnd_date.status.opened" /> <span
				class="input-group-btn">
				<button type="button" class="btn btn-default"
					ng-click="datePickerForEnd_dateOpen($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</div>
		<!--         <div class="form-group"> -->
		<!--             <label class="control-label" for="field_create_date">Create_date</label> -->
		<!--             <input id="field_create_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="event.create_date" is-open="datePickerForCreate_date.status.opened" -->
		<!--             required/> -->
		<!--             <span class="input-group-btn"> -->
		<!--                 <button type="button" class="btn btn-default" ng-click="datePickerForCreate_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button> -->
		<!--             </span> -->
		<!--             <div ng-show="editForm.create_date.$invalid"> -->
		<!--                 <p class="help-block" -->
		<!--                     ng-show="editForm.create_date.$error.required"> -->
		<!--                     This field is required. -->
		<!--                 </p> -->
		<!--                 <p class="help-block" -->
		<!--                     ng-show="editForm.create_date.$error.ZonedDateTimelocal"> -->
		<!--                     This field should be a date and time. -->
		<!--                 </p> -->
		<!--             </div> -->
		<!--         </div> -->
		<!--         <div class="form-group"> -->
		<!--             <label class="control-label" for="field_last_modified_date">Last_modified_date</label> -->
		<!--             <input id="field_last_modified_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="event.last_modified_date" is-open="datePickerForLast_modified_date.status.opened" -->
		<!--             /> -->
		<!--             <span class="input-group-btn"> -->
		<!--                 <button type="button" class="btn btn-default" ng-click="datePickerForLast_modified_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button> -->
		<!--             </span> -->
		<!--         </div> -->

		<div class="form-group">
			<label for="field_status_event">status_event</label> <select
				class="form-control" id="field_status_event" name="status_event"
				ng-model="event.status_event" required="required"
				ng-options="status_event as status_event.name for status_event in status_events track by status_event.id">
				<option value=""></option>
			</select>
		</div>
		<!--         <div class="form-group"> -->
		<!--             <label for="field_create_by">create_by</label> -->
		<!--             <select class="form-control" id="field_create_by" name="create_by" ng-model="event.create_by" ng-options="user as user.login for user in users track by user.id"> -->
		<!--                 <option value=""></option> -->
		<!--             </select> -->
		<!--         </div> -->
		<!--         <div class="form-group"> -->
		<!--             <label for="field_last_modified_by">last_modified_by</label> -->
		<!--             <select class="form-control" id="field_last_modified_by" name="last_modified_by" ng-model="event.last_modified_by" ng-options="user as user.login for user in users track by user.id"> -->
		<!--                 <option value=""></option> -->
		<!--             </select> -->
		<!--         </div> -->
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Hủy</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || isSaving"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Lưu lại</span>
		</button>
	</div>
</form>
