<div>
	<h2>Danh sách sự kiện</h2>
	<jh-alert></jh-alert>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<form class="form-horizontal" show-validation role="form"
					ng-submit="loadAll()">
					<div class="form-group">
						<div class="col-sm-6">
							<label class="control-label col-sm-4">Từ ngày</label>
							<div class="col-sm-8">
								<input class="form-control" ng-model="fromDate" type="date"
									placeholder="Từ ngày" ng-required="required">
							</div>
						</div>
						<div class="col-sm-6">
							<label class="control-label col-sm-4">Đến ngày</label>
							<div class="col-sm-8">
								<input class="form-control" ng-model="toDate" type="date"
									placeholder="Đến ngày" ng-required="required">
							</div>
						</div>
					</div>
					<div class="form-group ">
						<div class="col-sm-6">
							<label class="control-label col-sm-4">Trạng thái</label>
							<div class="col-sm-8">
								<select class="form-control" id="field_status_event"
									name="status_event" ng-model="status_event"
									ng-options="status_event as status_event.name for status_event in status_events track by status_event.id">
									<option value="">Tất cả</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group ">
						<div class="col-sm-6">
							<button type="submit" class="btn btn-default col-md-offset-3">Tìm
								kiếm</button>
						</div>
					</div>

				</form>
			</div>
			<div class="col-md-4">
				<button class="btn btn-primary" ui-sref="event.new">
					<span class="glyphicon glyphicon-flash"></span> <span>Create
						new</span>
				</button>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
					<th>STT</th>
					<th jh-sort-by="id"><span>Mã sự kiện</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="title" width="10%"><span>Tiêu đề</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="decription" width="40%"><span>Mô tả</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="start_date"><span>Ngày triển khai</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="end_date"><span>Ngày kết thúc</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="status_event.name"><span>Trạng thái</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<!-- 					<th jh-sort-by="create_by.login"><span>Người tạo</span> <span -->
					<!-- 						class="glyphicon glyphicon-sort"></span></th> -->
					<th jh-sort-by="create_date"><span>Ngày tạo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<!-- 					<th jh-sort-by="last_modified_by.login"><span>Người -->
					<!-- 							thay đổi cuối</span> <span class="glyphicon glyphicon-sort"></span></th> -->
					<!-- 					<th jh-sort-by="last_modified_date"><span>Ngày thay đổi -->
					<!-- 							cuối</span> <span class="glyphicon glyphicon-sort"></span></th> -->
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in events track by event.id">
					<td>{{$index+1+(page-1)*10}}</td>
					<td><a ui-sref="event.detail({id:event.id})">{{event.id}}</a></td>
					<td>{{event.title}}</td>
					<td>{{event.decription}}</td>
					<td>{{event.start_date | date:'dd/MM/yyyy'}}</td>
					<td>{{event.end_date | date:'dd/MM/yyyy'}}</td>
					<td><a
						ui-sref="status_event.detail({id:event.status_event.id})">{{event.status_event.name}}</a>
					</td>
					<!-- 					<td>{{event.create_by.login}}</td> -->
					<td>{{event.create_date | date:'dd/MM/yyyy hh:mm'}}</td>
					<!-- 					<td>{{event.last_modified_by.login}}</td> -->
					<!-- 					<td>{{event.last_modified_date | date:'dd/MM/yyyy hh:mm'}}</td> -->
					<td>
						<button type="submit" ui-sref="event.detail({id:event.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>
								View</span>
						</button>
						<button type="submit" ui-sref="event.edit({id:event.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>
								Edit</span>
						</button>
						<button type="submit" ui-sref="event.delete({id:event.id})"
							class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>
								Delete</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<uib-pagination class="pagination-sm" total-items="totalItems"
			ng-model="page" ng-change="loadAll()"></uib-pagination>
	</div>
</div>
