
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myRoomLabel">Create or edit a Room</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="room.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="room.code"
                    required ng-maxlength="20" />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_key_code">Key_code</label>
            <input type="text" class="form-control" name="key_code" id="field_key_code"
                    ng-model="room.key_code"
                    ng-maxlength="20" />
            <div ng-show="editForm.key_code.$invalid">
                <p class="help-block"
                    ng-show="editForm.key_code.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="room.title"
                    ng-maxlength="255" />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isPet">IsPet</label>
            <input type="checkbox" class="form-control" name="isPet" id="field_isPet"
                    ng-model="room.isPet"
                     />
            <div ng-show="editForm.isPet.$invalid">
                <p class="help-block"
                    ng-show="editForm.isPet.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isBedKid">IsBedKid</label>
            <input type="checkbox" class="form-control" name="isBedKid" id="field_isBedKid"
                    ng-model="room.isBedKid"
                     />
            <div ng-show="editForm.isBedKid.$invalid">
                <p class="help-block"
                    ng-show="editForm.isBedKid.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_number_of_livingroom">Number_of_livingroom</label>
            <input type="number" class="form-control" name="number_of_livingroom" id="field_number_of_livingroom"
                    ng-model="room.number_of_livingroom"
                    min="0" max="1" />
            <div ng-show="editForm.number_of_livingroom.$invalid">
                <p class="help-block"
                    ng-show="editForm.number_of_livingroom.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.number_of_livingroom.$error.max" translate-value-max="1">
                    This field cannot be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.number_of_livingroom.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_number_of_bedroom">Number_of_bedroom</label>
            <input type="number" class="form-control" name="number_of_bedroom" id="field_number_of_bedroom"
                    ng-model="room.number_of_bedroom"
                    min="0" max="3" />
            <div ng-show="editForm.number_of_bedroom.$invalid">
                <p class="help-block"
                    ng-show="editForm.number_of_bedroom.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.number_of_bedroom.$error.max" translate-value-max="3">
                    This field cannot be more than 3.
                </p>
                <p class="help-block"
                    ng-show="editForm.number_of_bedroom.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_number_of_toilet">Number_of_toilet</label>
            <input type="number" class="form-control" name="number_of_toilet" id="field_number_of_toilet"
                    ng-model="room.number_of_toilet"
                    min="0" max="3" />
            <div ng-show="editForm.number_of_toilet.$invalid">
                <p class="help-block"
                    ng-show="editForm.number_of_toilet.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.number_of_toilet.$error.max" translate-value-max="3">
                    This field cannot be more than 3.
                </p>
                <p class="help-block"
                    ng-show="editForm.number_of_toilet.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_number_of_kitchen">Number_of_kitchen</label>
            <input type="number" class="form-control" name="number_of_kitchen" id="field_number_of_kitchen"
                    ng-model="room.number_of_kitchen"
                    min="0" max="1" />
            <div ng-show="editForm.number_of_kitchen.$invalid">
                <p class="help-block"
                    ng-show="editForm.number_of_kitchen.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.number_of_kitchen.$error.max" translate-value-max="1">
                    This field cannot be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.number_of_kitchen.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_number_of_bathroom">Number_of_bathroom</label>
            <input type="number" class="form-control" name="number_of_bathroom" id="field_number_of_bathroom"
                    ng-model="room.number_of_bathroom"
                    min="0" max="3" />
            <div ng-show="editForm.number_of_bathroom.$invalid">
                <p class="help-block"
                    ng-show="editForm.number_of_bathroom.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.number_of_bathroom.$error.max" translate-value-max="3">
                    This field cannot be more than 3.
                </p>
                <p class="help-block"
                    ng-show="editForm.number_of_bathroom.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_floor">Floor</label>
            <input type="number" class="form-control" name="floor" id="field_floor"
                    ng-model="room.floor"
                    min="1" />
            <div ng-show="editForm.floor.$invalid">
                <p class="help-block"
                    ng-show="editForm.floor.$error.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.floor.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_orientation">Orientation</label>
            <input type="text" class="form-control" name="orientation" id="field_orientation"
                    ng-model="room.orientation"
                    ng-maxlength="255" />
            <div ng-show="editForm.orientation.$invalid">
                <p class="help-block"
                    ng-show="editForm.orientation.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_surface_size">Surface_size</label>
            <input type="text" class="form-control" name="surface_size" id="field_surface_size"
                    ng-model="room.surface_size"
                    ng-maxlength="50" />
            <div ng-show="editForm.surface_size.$invalid">
                <p class="help-block"
                    ng-show="editForm.surface_size.$error.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_maxAdults">MaxAdults</label>
            <input type="number" class="form-control" name="maxAdults" id="field_maxAdults"
                    ng-model="room.maxAdults"
                    min="0" max="10" />
            <div ng-show="editForm.maxAdults.$invalid">
                <p class="help-block"
                    ng-show="editForm.maxAdults.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.maxAdults.$error.max" translate-value-max="10">
                    This field cannot be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.maxAdults.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_maxKids">MaxKids</label>
            <input type="number" class="form-control" name="maxKids" id="field_maxKids"
                    ng-model="room.maxKids"
                    min="0" max="10" />
            <div ng-show="editForm.maxKids.$invalid">
                <p class="help-block"
                    ng-show="editForm.maxKids.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.maxKids.$error.max" translate-value-max="10">
                    This field cannot be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.maxKids.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_daily_price">Daily_price</label>
            <input type="number" class="form-control" name="daily_price" id="field_daily_price"
                    ng-model="room.daily_price"
                    min="0" />
            <div ng-show="editForm.daily_price.$invalid">
                <p class="help-block"
                    ng-show="editForm.daily_price.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.daily_price.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_monthly_price">Monthly_price</label>
            <input type="number" class="form-control" name="monthly_price" id="field_monthly_price"
                    ng-model="room.monthly_price"
                    min="0" />
            <div ng-show="editForm.monthly_price.$invalid">
                <p class="help-block"
                    ng-show="editForm.monthly_price.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.monthly_price.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_create_date">Create_date</label>
            <input id="field_create_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="room.create_date" is-open="datePickerForCreate_date.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreate_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_last_modified_date">Last_modified_date</label>
            <input id="field_last_modified_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="room.last_modified_date" is-open="datePickerForLast_modified_date.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForLast_modified_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

        <div class="form-group">
            <label for="field_kind">kind</label>
            <select class="form-control" id="field_kind" name="kind" ng-model="room.kind" ng-options="kind as kind.name for kind in kinds track by kind.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_image">image</label>
            <select class="form-control" id="field_image" multiple name="image" ng-model="room.images" ng-options="image as image.url for image in images track by image.id"></select>
        </div>
        <div class="form-group">
            <label for="field_funiture">funiture</label>
            <select class="form-control" id="field_funiture" multiple name="funiture" ng-model="room.funitures" ng-options="funiture as funiture.name for funiture in funitures track by funiture.id"></select>
        </div>
        <div class="form-group">
            <label for="field_currency">currency</label>
            <select class="form-control" id="field_currency" name="currency" ng-model="room.currency" ng-options="currency as currency.code for currency in currencys track by currency.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_status_room">status_room</label>
            <select class="form-control" id="field_status_room" name="status_room" ng-model="room.status_room" ng-options="status_room as status_room.name for status_room in status_rooms track by status_room.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_create_by">create_by</label>
            <select class="form-control" id="field_create_by" name="create_by" ng-model="room.create_by" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_last_modified_by">last_modified_by</label>
            <select class="form-control" id="field_last_modified_by" name="last_modified_by" ng-model="room.last_modified_by" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
