
<div>
	<h2>
		<span>Thông tin phòng : </span> {{room.code}}
	</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="30%">Thông tin</th>
					<th width="70%">Giá trị</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span>Mã phòng</span></td>
					<td><span class="form-control-static">{{room.code}}</span></td>
				</tr>
				<tr>
					<td><span>Mã khóa</span></td>
					<td><span class="form-control-static">{{room.key_code}}</span>
					</td>
				</tr>
				<tr>
					<td><span>Tiêu đề</span></td>
					<td><span class="form-control-static">{{room.title}}</span></td>
				</tr>
				<tr>
					<td><span>Thú nuôi</span></td>
					<td><span class="form-control-static">{{room.is_pet}}</span></td>
				</tr>
				<tr>
					<td><span>Giường cho trẻ</span></td>
					<td><span class="form-control-static">{{room.is_bed_kid}}</span>
					</td>
				</tr>
				<tr>
					<td><span>Số lượng phòng khách</span></td>
					<td><span class="form-control-static">{{room.number_of_livingroom}}</span>
					</td>
				</tr>
				<tr>
					<td><span>Số lượng phòng ngủ</span></td>
					<td><span class="form-control-static">{{room.number_of_bedroom}}</span>
					</td>
				</tr>
				<tr>
					<td><span>Số lượng phòng vệ sinh</span></td>
					<td><span class="form-control-static">{{room.number_of_toilet}}</span>
					</td>
				</tr>
				<tr>
					<td><span>Số lượng phòng bếp</span></td>
					<td><span class="form-control-static">{{room.number_of_kitchen}}</span>
					</td>
				</tr>
				<tr>
					<td><span>Số lượng phòng tắm</span></td>
					<td><span class="form-control-static">{{room.number_of_bathroom}}</span>
					</td>
				</tr>
				<tr>
					<td><span>Tầng</span></td>
					<td><span class="form-control-static">{{room.floor}}</span></td>
				</tr>
				<tr>
					<td><span>Hướng phòng</span></td>
					<td><span class="form-control-static">{{room.orientation}}</span>
					</td>
				</tr>
				<tr>
					<td><span>Diện tích</span></td>
					<td><span class="form-control-static">{{room.surface_size}}</span>
					</td>
				</tr>
				<tr>
					<td><span>Số lượng người lớn (Max)</span></td>
					<td><span class="form-control-static">{{room.max_adults}}</span>
					</td>
				</tr>
				<tr>
					<td><span>Số lượng trẻ em (max)</span></td>
					<td><span class="form-control-static">{{room.max_kids}}</span>
					</td>
				</tr>
				<tr>
					<td><span>Giá theo giờ</span></td>
					<td><span class="form-control-static">{{room.hourly_price | currency : '' : 0}}</span>
					</td>
				</tr>
				<tr>
					<td><span>Giá theo ngày</span></td>
					<td><span class="form-control-static">{{room.daily_price | currency : '' : 0}}</span>
					</td>
				</tr>
				<tr>
					<td><span>Giá theo tháng</span></td>
					<td><span class="form-control-static">{{room.monthly_price | currency : '' : 0}}</span>
					</td>
				</tr>

				<tr>
					<td><span>type_room</span></td>
					<td><a class="form-control-static"
						ui-sref="type_room.detail({id:room.type_room.id})">{{room.type_room.name}}</a>
					</td>
				</tr>
				<tr>
					<td><span>currency</span></td>
					<td><a class="form-control-static"
						ui-sref="currency.detail({id:room.currency.id})">{{room.currency.code}}</a>
					</td>
				</tr>
				<tr>
					<td><span>images</span></td>
					<td><span ng-repeat="images in room.imagess"> <a
							class="form-control-static"
							ui-sref="images.detail({id: {{images.id}}})">{{images.url}}</a>{{$last
							? '' : ', '}}
					</span></td>
				</tr>
				<tr>
					<td><span>amenity</span></td>
					<td><span ng-repeat="amenity in room.amenitys"> <a
							class="form-control-static"
							ui-sref="amenity.detail({id: {{amenity.id}}})">{{amenity.name}}</a>{{$last
							? '' : ', '}}
					</span></td>
				</tr>
				<tr>
					<td><span>status_room</span></td>
					<td><a class="form-control-static"
						ui-sref="status_room.detail({id:room.status_room.id})">{{room.status_room.name}}</a>
					</td>
				</tr>
				<tr>
					<td><span>create_by</span></td>
					<td>{{room.create_by.login}}</td>
				</tr>
				<tr>
					<td><span>Ngày tạo</span></td>
					<td><span class="form-control-static">{{room.create_date
							| date:'dd/MM/yyyy hh:mm:ss'}}</span></td>
				</tr>

				<tr>
					<td><span>last_modified_by</span></td>
					<td>{{room.last_modified_by.login}}</td>
				</tr>
				<tr>
					<td><span>Ngày sửa cuối</span></td>
					<td><span class="form-control-static">{{room.last_modified_date
							| date:'dd/MM/yyyy hh:mm:ss'}}</span></td>
				</tr>

			</tbody>
		</table>
	</div>

	<button type="submit" onclick="window.history.back()"
		class="btn btn-info">
		<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
			Back</span>
	</button>
</div>
