<div>
	<h2>Danh sách tôn giáo</h2>
	<jh-alert></jh-alert>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<button class="btn btn-primary" ui-sref="religion.new">
					<span>Tạo mới</span>
				</button>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
					<th jh-sort-by="id"><span>STT</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="name"><span>Tôn giáo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="create_date"><span>Ngày tạo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="create_by.login"><span>Người tạo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="religion in religions track by religion.id">
					<td><a ui-sref="religion.detail({id:religion.id})">{{$index+1}}</a></td>
					<td>{{religion.name}}</td>
					<td>{{religion.create_date | date:'dd/MM/yyyy hh:mm:ss'}}</td>
					<td>{{religion.create_by.login}}</td>
					<td>
<!-- 						<button type="submit" ui-sref="religion.detail({id:religion.id})" -->
<!-- 							class="btn btn-info btn-sm"> -->
<!-- 							<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> -->
<!-- 								View</span> -->
<!-- 						</button> -->
						<button type="submit" ui-sref="religion.edit({id:religion.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>
								Sửa</span>
						</button>
						<button type="submit" ui-sref="religion.delete({id:religion.id})"
							class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>
								Xóa</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<uib-pagination class="pagination-sm" total-items="totalItems"
			ng-model="page" ng-change="loadAll()"></uib-pagination>
	</div>
</div>
