<div class="background">
	<div class=" h3">Tiện nghi phòng gia đình DMCHOTEL :</div>
	<div class="content">
		<p style="font-weight: bold; margin-bottom: 10px">Bên cạnh những
			dịch vụ tiện ích tại các cụm công trình công cộng quy mô, Quý khách
			sống trong các căn hộ tại DMC Tower còn được thụ hưởng một hệ thống
			dịch vụ tiện nghi hiện đại, đẳng cấp, trang bị tại tòa nhà.</p>

		<p>Tại sảnh và hành lang được trang bị điều hòa và thông gió theo
			tiêu chuẩn của các tòa nhà đẳng cấp, có hệ thống camera giám sát và
			đội ngũ an ninh bảo vệ 24/ 24h, đội ngũ vệ sinh buồng phòng chuyên
			nghiệp. Bên cạnh đó, các khu căn hộ tại DMC Tower cũng được trang bị
			hệ thống truyền hình cáp đa ngôn ngữ, máy phát điện dự phòng 100%,
			đường truyền Internet tốc độ cao và hệ thống liên lạc thông suốt.</p>
		<img
			alt="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/A-noi-that-2.JPG"
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/A-noi-that-2.JPG">

		<img alt=""
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/02-Phong-khach-1.jpg"
			title="Phòng khách tiện nghi"> <strong
			style="text-align: center;"><i class="fa fa-check"></i>Phòng khách tiện nghi</strong> <img
			alt="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/Phong-ngu-m.jpg"
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/Phong-ngu-m.jpg"
			title="Phòng ngủ ấm cúng"> <b style="text-align: center;">Phòng
			ngủ thoáng mát và tiện ích</b> <img
			alt="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/08-Phong-ve-sinh-time.jpg"
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/08-Phong-ve-sinh-time.jpg"
			title="Phòng vệ sinh sạch sẽ đầy đủ tiện nghi"> <b
			style="text-align: center;"><i class="fa fa-check"></i>Phòng vệ sinh sạch sẽ đầy đủ tiện
			nghi</b> <img
			alt="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/-nh-b-p-2.jpg"
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/-nh-b-p-2.jpg"
			title="Phòng vệ sinh sạch sẽ đầy đủ tiện nghi"> <b
			style="text-align: center;"><i class="fa fa-check"></i>Phòng bếp ngăn lắp</b> <img
			alt="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/Banner/_MG_3429.JPG"
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/Banner/_MG_3429.JPG"
			title="Phòng vệ sinh sạch sẽ đầy đủ tiện nghi"> <b
			style="text-align: center;"><i class="fa fa-check"></i>Lễ tân khu căn hộ</b>
		<div style="margin-top: 10px">
			<strong>Quý khách hàng lưu ý:</strong> Để thuận tiện cho việc giao
			dịch, Quý khách có thể thanh toán trực tuyến tiền thuê văn phòng hoặc
			căn hộ qua hệ thống mypay.vn. Để biết rõ thêm thông tin thanh toán
			trực tuyến qua kênh mypay Quý khách vui lòng gọi vào số hotline
			0964.955.758 hoặc truy cập website: <a href="www.mypay.vn"
				target="_blank">www.mypay.vn</a>
		</div>
	</div>
</div>