<div>
	<h2>Danh sách nhân viên</h2>
	<jh-alert></jh-alert>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<form class="form-inline" role="form" ng-submit="loadAll()">
					<div class="form-group">
						<label class="sr-only" for="exampleInputEmail2">Email
							address</label> <input type="text" class="form-control"
							id="exampleInputEmail2" placeholder="Enter email"
							ng-model="email">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputPassword2">CMND</label>
						<input type="text" class="form-control" id="exampleInputPassword2"
							placeholder="CMND" ng-model="ic_number">
					</div>

					<button type="submit" class="btn btn-default">Tìm kiếm</button>

				</form>
			</div>
			<div class="col-md-4">
				<button class="btn btn-primary" ui-sref="employee.new">
					<span class="glyphicon glyphicon-flash"></span> <span>Tạo
						thông tin nhân viên</span>
				</button>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped" style="width: 3000px">
			<thead>
				<tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
					<th jh-sort-by="id" width="1%"><span>STT</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="full_name"><span>Họ tên</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="birthday"><span>Sinh nhật</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="address"><span>Địa chỉ</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="birthplace"><span>Nơi sinh</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="perman_resid"><span>Nơi đăng ký HKTT</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="father_name"><span>Họ tên bố</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="father_job.name"><span>Nghành ghề của
							bố</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="mother_name"><span>Họ tên mẹ</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="mother_job.name"><span>Ngành nghề của
							mẹ</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="telephone"><span>Số điện thoại di động</span>
						<span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="homephone"><span>Số điện thoại gia đình</span>
						<span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="email"><span>Email</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="ic_number"><span>CMND</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="ic_prov_date"><span>Ngày cấp</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="ic_prov_add"><span>Nơi cấp</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="bank_account"><span>Tài khoản ngân hàng</span>
						<span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="si_date"><span>Ngày tham gia BHXH</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="si_number"><span>Số BHXH</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="gender.name"><span>Giới tính</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="ethnic.name"><span>Dân tộc</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="religion.name"><span>Tôn giáo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="education_level.level"><span>Trình độ
							học vấn</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="major.name"><span>Chuyên ngành</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="school.name"><span>Trường đào tạo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="marital_status.name"><span>Tình trạng
							hôn nhân</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="came_component.name"><span>Thành phần
							xuất thân</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="bank.code"><span>Ngân hàng đăng ký</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="create_by.login"><span>Người tạo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="create_date"><span>Ngày tạo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="last_modified_by.login"><span>Người
							thay đổi cuối</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="last_modified_date"><span>Ngày thay đổi
							cuối</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in employees track by employee.id">
					<td><a ui-sref="employee.detail({id:employee.id})">{{$index+1}}</a></td>
					<td>{{employee.full_name}}</td>
					<td>{{employee.birthday | date:'dd/MM/yyyy'}}</td>
					<td>{{employee.address}}</td>
					<td>{{employee.birthplace}}</td>
					<td>{{employee.perman_resid}}</td>
					<td>{{employee.father_name}}</td>
					<td><a ui-sref="job.detail({id:employee.father_job.id})">{{employee.father_job.name}}</a>
					</td>
					<td>{{employee.mother_name}}</td>
					<td><a ui-sref="job.detail({id:employee.mother_job.id})">{{employee.mother_job.name}}</a>
					</td>
					<td>{{employee.telephone}}</td>
					<td>{{employee.homephone}}</td>
					<td>{{employee.email}}</td>
					<td>{{employee.ic_number}}</td>
					<td>{{employee.ic_prov_date | date:'dd/MM/yyyy'}}</td>
					<td>{{employee.ic_prov_add}}</td>
					<td>{{employee.bank_account}}</td>
					<td>{{employee.si_date | date:'dd/MM/yyyy'}}</td>
					<td>{{employee.si_number}}</td>
					<td><a ui-sref="gender.detail({id:employee.gender.id})">{{employee.gender.name}}</a>
					</td>
					<td><a ui-sref="ethnic.detail({id:employee.ethnic.id})">{{employee.ethnic.name}}</a>
					</td>
					<td><a ui-sref="religion.detail({id:employee.religion.id})">{{employee.religion.name}}</a>
					</td>

					<td><a
						ui-sref="education_level.detail({id:employee.education_level.id})">{{employee.education_level.level}}</a>
					</td>
					<td><a ui-sref="major.detail({id:employee.major.id})">{{employee.major.name}}</a>
					</td>
					<td><a ui-sref="school.detail({id:employee.school.id})">{{employee.school.name}}</a>
					</td>
					<td><a
						ui-sref="marital_status.detail({id:employee.marital_status.id})">{{employee.marital_status.name}}</a>
					</td>
					<td><a
						ui-sref="came_component.detail({id:employee.came_component.id})">{{employee.came_component.name}}</a>
					</td>
					<td><a ui-sref="bank.detail({id:employee.bank.id})">{{employee.bank.code}}</a>
					</td>
					<td>{{employee.create_by.login}}</td>
					<td>{{employee.create_date | date:'dd/MM/yyyy hh:mm:ss'}}</td>
					<td>{{employee.last_modified_by.login}}</td>
					<td>{{employee.last_modified_date | date:'dd/MM/yyyy
						hh:mm:ss'}}</td>
					<td>
						<button type="submit" ui-sref="employee.detail({id:employee.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>
								View</span>
						</button>
						<button type="submit" ui-sref="employee.edit({id:employee.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>
								Edit</span>
						</button>
						<button type="submit" ui-sref="employee.delete({id:employee.id})"
							class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>
								Delete</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<uib-pagination class="pagination-sm" total-items="totalItems"
			ng-model="page" ng-change="loadAll()"></uib-pagination>
	</div>
</div>
