
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEmployeeLabel">Create or edit a Employee</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="employee.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_full_name">Full_name</label>
            <input type="text" class="form-control" name="full_name" id="field_full_name"
                    ng-model="employee.full_name"
                    required ng-maxlength="255" />
            <div ng-show="editForm.full_name.$invalid">
                <p class="help-block"
                    ng-show="editForm.full_name.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.full_name.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_birthday">Birthday</label>
            <input id="field_birthday" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="employee.birthday" is-open="datePickerForBirthday.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForBirthdayOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="employee.address"
                    ng-maxlength="255" />
            <div ng-show="editForm.address.$invalid">
                <p class="help-block"
                    ng-show="editForm.address.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_birthplace">Birthplace</label>
            <input type="text" class="form-control" name="birthplace" id="field_birthplace"
                    ng-model="employee.birthplace"
                    ng-maxlength="255" />
            <div ng-show="editForm.birthplace.$invalid">
                <p class="help-block"
                    ng-show="editForm.birthplace.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_perman_resid">Perman_resid</label>
            <input type="text" class="form-control" name="perman_resid" id="field_perman_resid"
                    ng-model="employee.perman_resid"
                    ng-maxlength="255" />
            <div ng-show="editForm.perman_resid.$invalid">
                <p class="help-block"
                    ng-show="editForm.perman_resid.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_father_name">Father_name</label>
            <input type="text" class="form-control" name="father_name" id="field_father_name"
                    ng-model="employee.father_name"
                    ng-maxlength="255" />
            <div ng-show="editForm.father_name.$invalid">
                <p class="help-block"
                    ng-show="editForm.father_name.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mother_name">Mother_name</label>
            <input type="text" class="form-control" name="mother_name" id="field_mother_name"
                    ng-model="employee.mother_name"
                    ng-maxlength="255" />
            <div ng-show="editForm.mother_name.$invalid">
                <p class="help-block"
                    ng-show="editForm.mother_name.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                    ng-model="employee.telephone"
                    ng-maxlength="20" />
            <div ng-show="editForm.telephone.$invalid">
                <p class="help-block"
                    ng-show="editForm.telephone.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_homephone">Homephone</label>
            <input type="text" class="form-control" name="homephone" id="field_homephone"
                    ng-model="employee.homephone"
                    ng-maxlength="20" />
            <div ng-show="editForm.homephone.$invalid">
                <p class="help-block"
                    ng-show="editForm.homephone.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="employee.email"
                    ng-maxlength="255" />
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ic_number">Ic_number</label>
            <input type="text" class="form-control" name="ic_number" id="field_ic_number"
                    ng-model="employee.ic_number"
                    ng-maxlength="20" />
            <div ng-show="editForm.ic_number.$invalid">
                <p class="help-block"
                    ng-show="editForm.ic_number.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ic_prov_date">Ic_prov_date</label>
            <input id="field_ic_prov_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="employee.ic_prov_date" is-open="datePickerForIc_prov_date.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForIc_prov_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ic_prov_add">Ic_prov_add</label>
            <input type="text" class="form-control" name="ic_prov_add" id="field_ic_prov_add"
                    ng-model="employee.ic_prov_add"
                    ng-maxlength="255" />
            <div ng-show="editForm.ic_prov_add.$invalid">
                <p class="help-block"
                    ng-show="editForm.ic_prov_add.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bank_account">Bank_account</label>
            <input type="text" class="form-control" name="bank_account" id="field_bank_account"
                    ng-model="employee.bank_account"
                    ng-maxlength="20" />
            <div ng-show="editForm.bank_account.$invalid">
                <p class="help-block"
                    ng-show="editForm.bank_account.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_si_date">Si_date</label>
            <input id="field_si_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="employee.si_date" is-open="datePickerForSi_date.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForSi_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_si_number">Si_number</label>
            <input type="text" class="form-control" name="si_number" id="field_si_number"
                    ng-model="employee.si_number"
                    ng-maxlength="20" />
            <div ng-show="editForm.si_number.$invalid">
                <p class="help-block"
                    ng-show="editForm.si_number.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
<!--         <div class="form-group"> -->
<!--             <label class="control-label" for="field_create_date">Create_date</label> -->
<!--             <input id="field_create_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="employee.create_date" is-open="datePickerForCreate_date.status.opened" -->
<!--             required/> -->
<!--             <span class="input-group-btn"> -->
<!--                 <button type="button" class="btn btn-default" ng-click="datePickerForCreate_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button> -->
<!--             </span> -->
<!--             <div ng-show="editForm.create_date.$invalid"> -->
<!--                 <p class="help-block" -->
<!--                     ng-show="editForm.create_date.$error.required"> -->
<!--                     This field is required. -->
<!--                 </p> -->
<!--                 <p class="help-block" -->
<!--                     ng-show="editForm.create_date.$error.ZonedDateTimelocal"> -->
<!--                     This field should be a date and time. -->
<!--                 </p> -->
<!--             </div> -->
<!--         </div> -->
<!--         <div class="form-group"> -->
<!--             <label class="control-label" for="field_last_modified_date">Last_modified_date</label> -->
<!--             <input id="field_last_modified_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="employee.last_modified_date" is-open="datePickerForLast_modified_date.status.opened" -->
<!--             /> -->
<!--             <span class="input-group-btn"> -->
<!--                 <button type="button" class="btn btn-default" ng-click="datePickerForLast_modified_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button> -->
<!--             </span> -->
<!--         </div> -->

        <div class="form-group">
            <label for="field_gender">gender</label>
            <select class="form-control" id="field_gender" name="gender" ng-model="employee.gender" ng-options="gender as gender.name for gender in genders track by gender.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_ethnic">ethnic</label>
            <select class="form-control" id="field_ethnic" name="ethnic" ng-model="employee.ethnic" ng-options="ethnic as ethnic.name for ethnic in ethnics track by ethnic.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_religion">religion</label>
            <select class="form-control" id="field_religion" name="religion" ng-model="employee.religion" ng-options="religion as religion.name for religion in religions track by religion.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_father_job">father_job</label>
            <select class="form-control" id="field_father_job" name="father_job" ng-model="employee.father_job" ng-options="job as job.name for job in jobs track by job.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_mother_job">mother_job</label>
            <select class="form-control" id="field_mother_job" name="mother_job" ng-model="employee.mother_job" ng-options="job as job.name for job in jobs track by job.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_education_level">education_level</label>
            <select class="form-control" id="field_education_level" name="education_level" ng-model="employee.education_level" ng-options="education_level as education_level.level for education_level in education_levels track by education_level.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_major">major</label>
            <select class="form-control" id="field_major" name="major" ng-model="employee.major" ng-options="major as major.name for major in majors track by major.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_school">school</label>
            <select class="form-control" id="field_school" name="school" ng-model="employee.school" ng-options="school as school.name for school in schools track by school.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_marital_status">marital_status</label>
            <select class="form-control" id="field_marital_status" name="marital_status" ng-model="employee.marital_status" ng-options="marital_status as marital_status.name for marital_status in marital_statuss track by marital_status.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_came_component">came_component</label>
            <select class="form-control" id="field_came_component" name="came_component" ng-model="employee.came_component" ng-options="came_component as came_component.name for came_component in came_components track by came_component.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_bank">bank</label>
            <select class="form-control" id="field_bank" name="bank" ng-model="employee.bank" ng-options="bank as bank.code for bank in banks track by bank.id">
                <option value=""></option>
            </select>
        </div>
<!--         <div class="form-group"> -->
<!--             <label for="field_create_by">create_by</label> -->
<!--             <select class="form-control" id="field_create_by" name="create_by" ng-model="employee.create_by" ng-options="user as user.login for user in users track by user.id"> -->
<!--                 <option value=""></option> -->
<!--             </select> -->
<!--         </div> -->
<!--         <div class="form-group"> -->
<!--             <label for="field_last_modified_by">last_modified_by</label> -->
<!--             <select class="form-control" id="field_last_modified_by" name="last_modified_by" ng-model="employee.last_modified_by" ng-options="user as user.login for user in users track by user.id"> -->
<!--                 <option value=""></option> -->
<!--             </select> -->
<!--         </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
