<div class="background">
	<div class=" h3">{{event.title}} :</div>
	<div class="content">
		<div class="clear">{{event.decription}}</div>
		<div class="">Ngày triển khai : {{event.start_date}}</div>
		<div class="">Ngày kết thúc : {{event.end_date}}</div>
		<div class="">Trạng thái : {{event.status_event.name}}</div>
		<div style="margin-top: 10px">
			<strong>Quý khách hàng lưu ý:</strong> Để thuận tiện cho việc giao
			dịch, Quý khách có thể thanh toán trực tuyến tiền thuê văn phòng hoặc
			căn hộ qua hệ thống mypay.vn. Để biết rõ thêm thông tin thanh toán
			trực tuyến qua kênh mypay Quý khách vui lòng gọi vào số hotline
			0964.955.758 hoặc truy cập website: <a href="www.mypay.vn"
				target="_blank">www.mypay.vn</a>
		</div>
	</div>
</div>