<div>
	<h2>Danh sách dịch vụ</h2>
	<jh-alert></jh-alert>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<button class="btn btn-primary" ui-sref="services.new">
					<span class="glyphicon glyphicon-flash"></span> <span>Tạo
						mới</span>
				</button>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
					<th jh-sort-by="id"><span>STT</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="name"><span>Tên dịch vụ</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="price"><span>Đơn giá</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="decription"><span>Mô tả</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="currency.code"><span>currency</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="status_service.name"><span>Trạng thái</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="create_by.login"><span>Người tạo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="create_date"><span>Ngày tạo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="last_modified_by.login"><span>Người sửa
							cuối</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="last_modified_date"><span>Ngày sửa cuối</span>
						<span class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="services in servicess track by services.id">
					<td><a ui-sref="services.detail({id:services.id})">{{$index+1}}</a></td>
					<td>{{services.name}}</td>
					<td>{{services.price | currency : "" : 0}}</td>
					<td>{{services.decription}}</td>
					<td><a ui-sref="currency.detail({id:services.currency.id})">{{services.currency.code}}</a>
					</td>
					<td><a
						ui-sref="status_service.detail({id:services.status_service.id})">{{services.status_service.name}}</a>
					</td>
					<td>{{services.create_by.login}}</td>
					<td>{{services.create_date | date:'dd/MM/yyyy hh:mm:ss'}}</td>
					<td>{{services.last_modified_by.login}}</td>
					<td>{{services.last_modified_date | date:'dd/MM/yyyy hh:mm:ss'}}</td>
					<td>
						<button type="submit" ui-sref="services.detail({id:services.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>
								View</span>
						</button>
						<button type="submit" ui-sref="services.edit({id:services.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>
								Edit</span>
						</button>
						<button type="submit" ui-sref="services.delete({id:services.id})"
							class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>
								Delete</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<uib-pagination class="pagination-sm" total-items="totalItems"
			ng-model="page" ng-change="loadAll()"></uib-pagination>
	</div>
</div>
