

<div class="feed">

	<div class="feedback">
		<h1>Ý kiến phản hồi</h1>
		<span>Mọi ý kiến đóng góp cho tòa nhà xin gửi về địa chỉ : hoaitran.nb@gmail.com</span>
		<form>
			<div>
				<span><label>Họ và tên</label></span> <span><input
					type="text" value="" /></span>
			</div>
			<div>
				<span><label>Email</label></span> <span><input type="text"
					value="" /></span>
			</div>
			<div>
				<span><label>Nội dung</label></span> <span><textarea></textarea></span>
			</div>
			<div>
				<span><input type="submit" value="Submit" /></span>
			</div>
		</form>
	</div>
	<div class="map">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3724.0721228274697!2d105.811179!3d21.029800000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab6bf45adb05%3A0x5ff8507526485458!2zNTM1IEtpbSBNw6MsIE5n4buNYyBLaMOhbmgsIEJhIMSQw6xuaCwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2sus!4v1458717464563"
			width="425" height="350" frameborder="0" style="border: 0"
			allowfullscreen></iframe>
		<div style="margin: 5px;font-size: 14px">
			<p><strong>Vị trí đắc địa tại trung tâm TP. Hà Nội</strong></p>
			<p> - Cách khách sạn<strong> Deawoo 200m</strong></p>
			<p> - Cách Tòa nhà<strong> Lotte 600m</strong></p>
			<p> - Ngay sát <strong> hồ Thủ Lệ và hồ Ngọc Khánh</strong></p>
			<p> - Cách <strong> sân bay Nội Bài 20 km</strong></p>
			<p> - Cách <strong>Hồ Tây 1,3 km</strong></p>
			<p> - Cách <strong>hồ Hoàn Kiếm 5 km</strong></p>
		</div>
	</div>
	<div class="clear"></div>
</div>
