<script type="text/javascript" src="template/js/slider.js"></script>
<div id="slider">
	<a> <img src="template/images/banner1.png" height="2000px"
		alt="Mini Ninjas" />
	</a> <a> <img
		src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/noithat.png"
		alt="Price of Persia" />
	</a> <a> <img
		src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/noithat1.png"
		alt="Price of Persia" />
	</a> <a> <img
		src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/noithat2.png"
		alt="Price of Persia" />
	</a> <a> <img
		src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/vanphong.png"
		alt="Price of Persia" />
	</a> <a> <img
		src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/vanphong1.png"
		alt="Price of Persia" />
	</a>
</div>
<div class="clear"></div>
<div class="grids">
	<div class="grid-1">
		<h3>Welcome!</h3>
		<img src="template/images/img-2.jpg">
		<h4>Khách sạn DMCHOTEL</h4>
		<p>DMCHOTEL có vị trí địa lý đắc địa, nằm trên phố Kim Mã, tuyến
			phố thương mại lớn quận Ba Đình - trung tâm của thủ đô Hà Nội.</p>
		<p>Đây là nơi sinh sống và làm việc của cộng đồng Nhật tại Việt
			Nam.</p>
		<div class="clear"></div>
	</div>
	<div class="grid-2">
		<h3>Sơ đồ mặt bằng</h3>
		<div class="item">
			<div class="prev">
				<img
					src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/-nh-ph-ng-kh-ch-1.jpg"
					width="100px" height="80px" alt="Price of Persia" />
			</div>
			<div class="data">
				<h4>Hình ảnh điển hình phòng gia đình DMCHOTEL</h4>
				<p>Khách sạn DMCHOTEL nằm ngay trung tâm thành phố Hà Nội, vị
					trí thuận lợi cho đi lại tham quan Hà Thành...</p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="item">
			<div class="prev">
				<img
					src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/so-do-mat-bang/DMC7.jpg"
					width="100px" height="80px" alt="Price of Persia" />
			</div>
			<div class="data">
				<h4>Sơ đồ mặt bằng tầng 2 - 6</h4>
				<p>View cực đẹp, nhìn ra hồ công viên Thủ Lệ
					và hồ Ngọc Khánh, thích hợp cho các hộ gia đình thăm thú hà nội...</p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="item">
			<div class="prev">
				<img
					src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/so-do-mat-bang/DMC8.jpg"
					width="100px" height="80px" alt="Price of Persia" />
			</div>
			<div class="data">
				<h4>Sơ đồ mặt bằng tầng 17, 18</h4>
				<p>Có nhiều diện tích nhỏ, view đẹp phù hợp cho khách du lịch và
					khách đi công tác tại Hà Nội ...</p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="grid-3">
		<h3>Tin tức sự kiện!</h3>
		<ul>
			<li ng-repeat="event in events"><a
				ui-sref="template.event.detail({id:'{{event.id}}'})"><i
					class="icon-note"></i>{{event.title}}</a>
				<div
					style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">-
					{{event.decription}}</div>
				<div class="">> Ngày đăng : {{event.create_date |
					date:'dd-mm-yyyy hh:mm'}}</div></li>
		</ul>
		<div class="text-center">
			<pagination ng-model="currentPage" total-items='arCurrent.length'
				items-per-page='numPerPage' max-size="maxSize" boundary-links="true"
				class="pagination-sm m-t-none m-b" previous-text="&lsaquo;"
				next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
			</pagination>
		</div>
	</div>

	<div class="clear"></div>
</div>
<div class="dishes">
	<h3>Phối cảnh nội thất phòng gia đình DMCHOTEL</h3>
	<ul>
		<li><img
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/-nh-ph-ng-m-u.jpg"
			width="300px" height="150px" /></li>
		<li><img
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/-nh-ph-ng-kh-ch-1.jpg"
			width="300px" height="150px" /></li>
		<li><img
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/3PN-PC.jpg"
			width="300px" height="150px" /></li>
	</ul>
</div>


<script>
	$('#slider').coinslider();
</script>
