<div class="services">
	<div class="services-prev">
		<img src="template/images/services.jpg" />
	</div>
	<div class="service-list">
		<div class=" h3">Giá thuê đã bao gồm :</div>
		<ul>
			<li>VAT (10%)</li>
			<li>Trang bị đầy đủ nội thất bên trong</li>
			<li>Truyền hình cáp (NHK và Jet TV)</li>
			<li>Lắp đặt internet và điện thoại bàn</li>
			<li>Điện nước sinh hoạt (50$ - 100$)</li>
			<li>Dịch vụ dọn vệ sinh hàng ngày (Trừ chủ nhật và các ngày lễ)</li>
			<li>Bảo vệ, lễ tân , kỹ thuật 24h/24</li>
			<li>Chỗ để xe ô tô</li>
			<li>Xe bus đưa đón vào các ngày thứ 2 4 5 và thứ 7 hàng tuần</li>
<!-- 			<li>Thanh toán với tất cả các loại thẻ thanh toán và ngân hàng</li> -->
		</ul>
	</div>
	<div class="clear"></div>
</div>