
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myProfileLabel">Create or edit a Profile</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="profile.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_join_date">Join_date</label>
            <input id="field_join_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="profile.join_date" is-open="datePickerForJoin_date.status.opened"
            required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForJoin_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <div ng-show="editForm.join_date.$invalid">
                <p class="help-block"
                    ng-show="editForm.join_date.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_salary_subsidies">Salary_subsidies</label>
            <input type="number" class="form-control" name="salary_subsidies" id="field_salary_subsidies"
                    ng-model="profile.salary_subsidies"
                    min="0" />
            <div ng-show="editForm.salary_subsidies.$invalid">
                <p class="help-block"
                    ng-show="editForm.salary_subsidies.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.salary_subsidies.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_salary_basic">Salary_basic</label>
            <input type="number" class="form-control" name="salary_basic" id="field_salary_basic"
                    ng-model="profile.salary_basic"
                    min="0" />
            <div ng-show="editForm.salary_basic.$invalid">
                <p class="help-block"
                    ng-show="editForm.salary_basic.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.salary_basic.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_salary">Salary</label>
            <input type="number" class="form-control" name="salary" id="field_salary"
                    ng-model="profile.salary"
                    min="0" />
            <div ng-show="editForm.salary.$invalid">
                <p class="help-block"
                    ng-show="editForm.salary.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.salary.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_create_date">Create_date</label>
            <input id="field_create_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="profile.create_date" is-open="datePickerForCreate_date.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreate_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_last_modified_date">Last_modified_date</label>
            <input id="field_last_modified_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="profile.last_modified_date" is-open="datePickerForLast_modified_date.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForLast_modified_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

        <div class="form-group">
            <label for="field_position">position</label>
            <select class="form-control" id="field_position" name="position" ng-model="profile.position" ng-options="position as position.name for position in positions track by position.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_department">department</label>
            <select class="form-control" id="field_department" name="department" ng-model="profile.department" ng-options="department as department.name for department in departments track by department.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_currency">currency</label>
            <select class="form-control" id="field_currency" name="currency" ng-model="profile.currency" ng-options="currency as currency.code for currency in currencys track by currency.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_status_profile">status_profile</label>
            <select class="form-control" id="field_status_profile" name="status_profile" ng-model="profile.status_profile" ng-options="status_profile as status_profile.name for status_profile in status_profiles track by status_profile.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_create_by">create_by</label>
            <select class="form-control" id="field_create_by" name="create_by" ng-model="profile.create_by" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_last_modified_by">last_modified_by</label>
            <select class="form-control" id="field_last_modified_by" name="last_modified_by" ng-model="profile.last_modified_by" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_employee">employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="profile.employee" ng-options="employee as employee.full_name for employee in employees | orderBy:'id' track by employee.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
