
<div>
    <h2><span>Kind</span> {{kind.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{kind.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Decription</span>
                </td>
                <td>
                    <span class="form-control-static">{{kind.decription}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Create_date</span>
                </td>
                <td>
                    <span class="form-control-static">{{kind.create_date | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>policy</span>
                </td>
                <td>
                    <span ng-repeat="policy in kind.policys">
                        <a class="form-control-static" ui-sref="policy.detail({id: {{policy.id}}})">{{policy.code}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>event</span>
                </td>
                <td>
                    <span ng-repeat="event in kind.events">
                        <a class="form-control-static" ui-sref="event.detail({id: {{event.id}}})">{{event.code}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>create_by</span>
                </td>
                <td>
                    {{kind.create_by.login}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
