<div>
    <h2>Danh sách dân tộc</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="ethnic.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Ethnic</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>STT</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Tên</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="create_date"><span>Ngày tạo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="create_by.login"><span>Người tạo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ethnic in ethnics track by ethnic.id">
                    <td><a ui-sref="ethnic.detail({id:ethnic.id})">{{$index+1}}</a></td>
                    <td>{{ethnic.name}}</td>
                    <td>{{ethnic.create_date | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                    <td>
                        {{ethnic.create_by.login}}
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="ethnic.detail({id:ethnic.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="ethnic.edit({id:ethnic.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="ethnic.delete({id:ethnic.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
