<div>
    <h2>Reservations</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="reservation.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Reservation</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="time_checkin"><span>Time_checkin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="note_checkin"><span>Note_checkin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="time_checkout"><span>Time_checkout</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="note_checkout"><span>Note_checkout</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="create_date"><span>Create_date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="last_modified_date"><span>Last_modified_date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="person_checkin.full_name"><span>person_checkin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="person_checkout.full_name"><span>person_checkout</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="register_info.id"><span>register_info</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status_reservation.name"><span>status_reservation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="create_by.login"><span>create_by</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="last_modified_by.login"><span>last_modified_by</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reservation in reservations track by reservation.id">
                    <td><a ui-sref="reservation.detail({id:reservation.id})">{{reservation.id}}</a></td>
                    <td>{{reservation.time_checkin | date:'medium'}}</td>
                    <td>{{reservation.note_checkin}}</td>
                    <td>{{reservation.time_checkout | date:'medium'}}</td>
                    <td>{{reservation.note_checkout}}</td>
                    <td>{{reservation.create_date | date:'medium'}}</td>
                    <td>{{reservation.last_modified_date | date:'medium'}}</td>
                    <td>
                        <a ui-sref="customer.detail({id:reservation.person_checkin.id})">{{reservation.person_checkin.full_name}}</a>
                    </td>
                    <td>
                        <a ui-sref="customer.detail({id:reservation.person_checkout.id})">{{reservation.person_checkout.full_name}}</a>
                    </td>
                    <td>
                        <a ui-sref="register_info.detail({id:reservation.register_info.id})">{{reservation.register_info.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="status_reservation.detail({id:reservation.status_reservation.id})">{{reservation.status_reservation.name}}</a>
                    </td>
                    <td>
                        {{reservation.create_by.login}}
                    </td>
                    <td>
                        {{reservation.last_modified_by.login}}
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="reservation.detail({id:reservation.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="reservation.edit({id:reservation.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="reservation.delete({id:reservation.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
