<form name="editForm" role="form" novalidate ng-submit="save()"
	show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="clear()">&times;</button>
		<h4 class="modal-title" id="myReservationLabel">Cập nhật phiếu
			nhận trả phòng</h4>
	</div>
	<div class="modal-body">
		<jh-alert-error></jh-alert-error>
		<div class="form-group">
			<label for="id">ID</label> <input type="text" class="form-control"
				id="id" name="id" ng-model="reservation.id" readonly />
		</div>
		<div class="form-group">
			<label for="field_register_info">Mã đăng ký</label> <select
				class="form-control" id="field_register_info" name="register_info"
				ng-model="reservation.register_info" required="required" readonly
				ng-options="register_info as register_info.id for register_info in register_infos | orderBy:'id' track by register_info.id">
				<option value=""></option>
			</select>
		</div>

		<div class="form-group">
			<label for="field_time_checkout">Thời gian trả phòng</label>
			<div>
				<input type="checkbox" ng-model="checkout" ng-true-value="true"
					ng-false-value="false"> <input id="field_time_checkout"
					type="date" class="form-control"
					ng-model="reservation.time_checkout" readonly="readonly"
					is-open="datePickerForTime_checkout.status.opened" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="field_note_checkout">Ghi
				chú</label>
			<textarea type="text" class="form-control" name="note_checkout"
				id="field_note_checkout" ng-model="reservation.note_checkout"
				ng-maxlength="255"></textarea>
			<div ng-show="editForm.note_checkout.$invalid">
				<p class="help-block"
					ng-show="editForm.note_checkout.$error.maxlength"
					translate-value-max="255">This field cannot be longer than 255
					characters.</p>
			</div>
		</div>
		<div class="form-group" ng-show="showcheckout">
			<label for="field_person_checkout">Người trả phòng</label>
			<ui-select ng-model="reservation.person_checkout" theme="bootstrap" requeried>
			<ui-select-match
				placeholder="Select or search a person in the list...">{{$select.selected.full_name}}</ui-select-match>
			<ui-select-choices repeat="item in customers | filter: $select.search">
			<div ng-bind-html="item.full_name | highlight: $select.search"></div>
			<small ng-bind-html="item.ic_passport_number | highlight: $select.search"></small>
			</ui-select-choices> </ui-select>
		</div>
		<div class="form-group">
			<label for="field_customer">Danh sách khách hàng</label> <select
				class="form-control" id="field_customer" multiple name="customer"
				ng-model="reservation.customers" required="required"
				ng-options="customer as customer.full_name for customer in customers track by customer.id"></select>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
		</button>
	</div>
</form>