<div>
	<h2>Danh sách vị trí nhân viên trong khách sạn</h2>
	<jh-alert></jh-alert>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<button class="btn btn-primary" ui-sref="position.new">
					<span>Tạo mới</span>
				</button>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
					<th jh-sort-by="id"><span>ID</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="position"><span>Vị trí</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="decription"><span>Đặc tả</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="create_date"><span>Ngày tạo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="create_by.login"><span>Người tạo</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="position in positions track by position.id">
					<td><a ui-sref="position.detail({id:position.id})">{{position.id}}</a></td>
					<td>{{position.position}}</td>
					<td>{{position.decription}}</td>
					<td>{{position.create_date | date:'medium'}}</td>
					<td>{{position.create_by.login}}</td>
					<td>
<!-- 						<button type="submit" ui-sref="position.detail({id:position.id})" -->
<!-- 							class="btn btn-info btn-sm"> -->
<!-- 							<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> -->
<!-- 								View</span> -->
<!-- 						</button> -->
						<button type="submit" ui-sref="position.edit({id:position.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>
								Sửa</span>
						</button>
						<button type="submit" ui-sref="position.delete({id:position.id})"
							class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>
								Xóa</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<uib-pagination class="pagination-sm" total-items="totalItems"
			ng-model="page" ng-change="loadAll()"></uib-pagination>
	</div>
</div>
