<div class="background">
	<div class=" h3">Giới thiệu mặt bằng DMCHOTEL :</div>
	<div class="content">
		<p style="font-weight: bold; margin-bottom: 10px">Với tổng diện
			tích mặt bằng lên tới 1.000m2, DMC Tower được thiết kế thành nhiều
			loại căn hộ với các diện tích đa dạng, đáp ứng tối đa nhu cầu về chỗ
			ở cho khách hàng.</p>

		<p>DMC Tower được thiết kế độc đáo, ấn tượng theo phong cách kiến
			trúc hiện đại của phương Tây kết hợp với cách bài trí hài hòa, tinh
			tế, cách sắp đặt tỉ mỉ của hệ thống trang thiết bị, nội thất, tiện
			nghi theo quan niệm phong thủy Á Đông, tạo nên những không gian sống
			hoàn hảo, lý tưởng.</p>
		<img alt=""
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/1PN-PC.jpg"
			title="Mặt bằng căn hộ 1 phòng ngủ 55 m2 và 66 m2"> <strong
			style="text-align: center;">Mặt bằng căn hộ 1 phòng ngủ 55
			m2 và 66 m2</strong> <img
			alt="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/2PN-PC.jpg"
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/2PN-PC.jpg"
			title="Mặt bằng căn hộ 2 phòng ngủ 71 m2, 99 m2 và 120 m2"> <b
			style="text-align: center;">Mặt bằng căn hộ 2 phòng ngủ 71 m2, 99
			m2 và 120 m2</b> <img
			alt="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/3PN-PC.jpg"
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/3PN-PC.jpg"
			title="Mặt bằng căn hộ 3 phòng ngủ 134 m2"> <b
			style="text-align: center;">Mặt bằng căn hộ 3 phòng ngủ 134 m2</b>
		<div style="margin-top: 10px">
			<strong>Quý khách hàng lưu ý:</strong> Để thuận tiện cho việc giao
			dịch, Quý khách có thể thanh toán trực tuyến tiền thuê văn phòng hoặc
			căn hộ qua hệ thống mypay.vn. Để biết rõ thêm thông tin thanh toán
			trực tuyến qua kênh mypay Quý khách vui lòng gọi vào số hotline
			0964.955.758 hoặc truy cập website: <a href="www.mypay.vn" target="_blank">www.mypay.vn</a>
		</div>
	</div>

</div>