<div class="background">
	<div class=" h3">Giới thiệu Khách sạn DMCHOTEL Kim Mã :</div>
	<div class="content">
		<p style="font-weight: bold; margin-bottom: 10px">Được xây dựng
			dựa trên ý tưởng về một tòa nhà căn hộ và văn phòng hiện đại mang
			phong cách kiến trúc sinh thái thân thiện của sứ hoa Anh Đào đất nước
			Nhật Bản, DMC Tower là một tổ hợp không gian sống sang trọng, đẳng
			cấp với đầy đủ các công trình tiện ích, vị trí địa lý cực đẹp thuận
			lợi cho công việc kinh doanh cho các doanh nghiệp trong nước và nước
			ngoài, nơi cư trú lý tưởng cho các chuyên gia, doanh nhân nước ngoài
			đang làm việc và công tác ở Việt Nam.</p>

		<p>Với tổng diện tích đất trên 2.000m2, Tòa nhà DMC Tower chia
			thành nhiều phân khu chức năng bao gồm: Hệ thống căn hộ cao cấp, khu
			văn phòng, Trung tâm thương mại, Khu ẩm thực phong phú, khu tập thể
			dục....nằm soi bóng xuống công viên Thủ Lệ với chuỗi công viên cây
			xanh và hồ nước rộng trên 10.000m2...</p>
		<img alt=""
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/News/DSC05429.JPG"
			title="DMC tower có view trực tiếp xuống Hồ công viên Thủ Lệ">
		<strong style="text-align: center;">DMC tower có view trực
			tiếp xuống Hồ công viên Thủ Lệ</strong>
		<p>Đặc biệt, tòa nhà DMC Tower được Tập đoàn DMC group đầu tư phát
			triển hệ thống dịch vụ chất lượng cao nhằm mục đích hoàn thiện, khép
			kín hệ thống dịch vụ tiện ích của tòa nhà, đem lại cho Quý khách hàng
			một không gian sống và làm việc hoàn hảo. Các hệ thống phòng tập thể
			dục, siêu thị và khu dịch vụ ẩm thực do các đơn vị có uy tín, năng
			lực và thương hiệu trên thị trường trong nước và quốc tế đảm trách.
			Tất cả các căn hộ đều có hệ thống internet tốc độ cao và truyền hình
			cáp có thể xem các kênh truyền hình nổi tiếng trong nước và quốc tế
			với triết lý đảm bảo cập nhật thường xuyên các thông tin thời sự về
			kinh tế, thể thao, văn hóa, giáo dục... của tất cả mọi nơi trên Thế
			Giới tới Quý khách hàng.</p>
		<img
			alt="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/DSC05480.JPG"
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/demo/DSC05480.JPG"
			title="View xuống hồ Ngọc Khánh"> <b
			style="text-align: center;">View xuống hồ Ngọc Khánh</b>
		<p>Bên cạnh đó là hồ Ngọc Khánh, khách sạn Daewoo, tòa nhà Lotte,
			rạp Ngọc Khánh, các nhà Hàng Nhật Bản, nhà hàng Hàn Quốc....đầy đủ
			tiện nghi, trang thiết bị đặc biệt cao cấp cùng nhiều dịch vụ hoàn
			hảo, mang tới cho khách hàng tại tòa nhà DMC Tower cơ hội hưởng thụ
			một môi trường cư trú, kinh doanh và làm việc hoàn hảo. Vị trí giao
			thông thuận lợi chỉ mất 30 phút là tới sân bay, các khu công nghiệp
			Bắc Ninh, Nội Bài</p>
		<img
			alt="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/News/DSC05552.JPG"
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/News/DSC05552.JPG"
			title="Sát trung tâm thương mại Lotte và khách sạn Deawoo"> <b
			style="text-align: center;">Sát trung tâm thương mại Lotte và
			khách sạn Deawoo</b>
		<div style="margin-top: 10px">Với sự kết hợp hài hòa và giao
			thoa độc đáo giữa phong cách kiến trúc Châu Âu hiện đại và Châu Á đặc
			sắc, DMC Tower đang phấn đấu trở thành một tòa nhà căn hộ và văn
			phòng cho thuê kiểu mẫu, là nhân tố quan trọng, đánh thức tiềm năng,
			góp phần thay đổi diện mạo vùng đất phía Tây Thủ đô và mang tới cho
			khách hàng một không gian sống và làm việc trẻ trung, hiện đại và
			hoàn hảo.</div>
	</div>

</div>