<div class="services">
	<div class="left-padding">
		<div class=" h4"><i class="glyphicon icon-home icon text-primary-dker"></i> Danh mục</div>
		<div class="panel h4">
			<div style="margin: 5px 5px;" ui-sref-active="active"><i class="fa fa-caret-right"></i><a ui-sref="template.intro.home"> Phòng gia đình</a></div>
			<div style="margin: 5px 5px" ui-sref-active="active"><i class="fa fa-caret-right"></i><a ui-sref="template.intro.apartment"> Hình ảnh phòng</a></div>
			<div style="margin: 5px 5px" ui-sref-active="active"><i class="fa fa-caret-right"></i><a ui-sref="template.intro.background1"> Mặt bằng tầng 1</a></div>
			<div style="margin: 5px 5px" ui-sref-active="active"><i class="fa fa-caret-right"></i><a ui-sref="template.intro.background26"> Mặt bằng tầng 2 - 6</a></div>
			<div style="margin: 5px 5px" ui-sref-active="active"><i class="fa fa-caret-right"></i><a ui-sref="template.intro.background17"> Mặt bằng tầng  17 - 18</a></div>		
		</div>
	</div>
	<div class="service-list"  ui-view></div>
	<div class="clear"></div>
</div>