<div ng-controller="bookingCtrl">
	<div class="row">
		<div class="col-sm-6">
			<div class="">
				<div class="panel b-a m-t">
					<div class="panel-heading"
						style="background-color: #511523; color: white;">Điều khoản
						dịch vụ</div>
					<table class="table" summary="Sample Table">
						<tbody>
							<tr ng-repeat="policy in policys">
								<th scope="row" width="30%">{{policy.title}}</th>
								<td>{{policy.decription}} <span ng-switch="policy.id"
									class="clear"> <img src="img/visa.jpg" alt=""
										style="width: 80px" ng-switch-when="6" /> <img
										src="img/master.jpg" alt="" style="width: 80px"
										ng-switch-when="6" />
								</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<form name="form" class="form-validation" method="POST"
				show-validation action="api/redirectionRegister">
				<div class="panel ">
					<div class="panel-heading"
						style="background-color: #511523; color: white;">Thông tin
						đăng ký</div>
					<span ng-switch="message"> <span ng-switch-when=""><alert
								type="warning" close="closeAlert($index)">Vui lòng điển
							đầy đủ thông tin!</alert></span> <span ng-switch-when="faileddate"><alert
								type="warning" close="closeAlert($index)">Lỗi chọn
							khoảng thời gian! Ngày nhận phòng phải trước ngảy trả phòng</alert></span> <span
						ng-switch-when="unavailable"><alert type="warning"
								close="closeAlert($index)">Phòng đã được đặt trước đó</alert></span>
					</span>
					<div class="panel-body">
						<p class="text-muted">Vui lòng điền đầy đủ thông tin để chúng
							tôi hỗ trợ bạn một cách tốt nhất</p>
						<div class="form-group clearfix">
							<div class="col-sm-6">
								<label>Họ tên đệm*</label> <input type="text" name="firstname"
									class="form-control" ng-model="contact.fullname.firstname"
									required>
							</div>
							<div class="col-sm-6">
								<label>Tên* </label> <input type="text" name="lastname"
									class="form-control" ng-model="contact.fullname.lastname"
									required>
							</div>

						</div>
						<div class="form-group">
							<label>CMND / Hộ chiếu*</label> <input type="text"
								name="social_security" class="form-control"
								ng-model="contact.social_security" required>
						</div>
						<div class="form-group">
							<label>Email*</label> <input type="email" name="email"
								class="form-control" ng-model="contact.email" required>
						</div>
						<div class="form-group">
							<label>Điện thoại*</label> <input type="text" name="phone"
								class="form-control" placeholder="XXX XXX XXX"
								ng-model="contact.phone" required>
						</div>
						<div class="form-group">
							<label>Thông tin thêm</label>
							<textarea class="form-control" name="decription" rows="3"
								ng-model="contact.decription" placeholder="Type your message"></textarea>
						</div>

						<div class="panel-heading bg-primary">Thông tin phòng</div>
						<div class="form-horizontal">
							<article class="media wrapper-xs"
								ng-click="open('lg','{{item.id}}')">
								<div class="">
									<img ng-src="{{room.imagess[0].url}}" class="img-responsive">
								</div>
								<div class="form-horizontal">
									<div class="form-group">
										<label class="col-sm-4 font-bold">Vị trí</label>
										<div class="col-sm-8">{{room.orientation}}</div>
									</div>
									<div class="form-group">
										<label class="font-bold col-sm-4">Mã phòng</label>
										<div class="col-sm-8">{{room.code_room}}</div>
									</div>
									<div class="form-group">
										<label class=" font-bold col-sm-4">Kiểu phòng</label>
										<div class="col-sm-8">{{room.type_room.name}}</div>
									</div>
								</div>
							</article>
						</div>


						<div class="form-horizontal ">
							<div class="form-group ">
								<label class="col-sm-4 font-bold">Dịch vụ</label>
								<div class="col-sm-8">Thuê phòng</div>
							</div>
							<div class="form-group ">
								<label class="col-sm-4 font-bold">Giá theo ngày</label>
								<div class="col-sm-8">{{room.daily_price | currency:"":0}}
									{{room.currency.code}}/Ngày</div>
							</div>
							<div class="form-group ">
								<label class="col-sm-4 font-bold">Giá theo tháng</label>
								<div class="col-sm-8">{{room.monthly_price |
									currency:"":0}} {{room.currency.code}}/Tháng</div>
							</div>
							<div class="form-group ">
								<label class="col-sm-4 font-bold">Số lượng</label>
								<div class="col-sm-2">1</div>
							</div>
							<div class="form-group ">
								<label class="col-sm-4 font-bold">Ngày đăng ký</label>
								<div class="col-sm-8">
									<div class="form-group">
										<label class="col-sm-6 font-bold">Ngày nhận phòng</label>
										<div class="col-sm-6">{{checkin}}</div>
									</div>
									<div class="form-group">
										<label class="col-sm-6 font-bold">Ngày trả phòng</label>
										<div class="col-sm-6">{{checkout}}</div>
									</div>
								</div>
							</div>
							<div class="form-group ">
								<label class="col-sm-4 font-bold">Tổng số ngày</label>
								<div class="col-sm-8">{{rangerTime}} ngày</div>
							</div>
							<div class="form-group b-b ">
								<label class="col-sm-4 font-bold">Kiểu thanh toán</label>
								<div class="col-sm-8">
									<p>
										<label class="i-checks"> <input type="radio"
											name="method" ng-model="method_payment" value="Đặt cọc"
											class=""><i></i> Đặt cọc trước
										</label>
									</p>
									<p>
										<label class="i-checks"> <input type="radio"
											name="method" ng-model="method_payment"
											value="Thanh toán sau" class=""><i></i> Chỉ đặt phòng
											trước
										</label>
									</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 font-bold">Tổng chí phí</label>
								<div class="col-sm-8">
									<span>{{total | currency:"":0}} {{room.currency.code}}</span>
								</div>
							</div>
							<div class="form-group" ng-switch="method">
								<label class="col-sm-4 font-bold">Đặt cọc trước</label>
								<div class="col-sm-8">
									<span>{{deposit | currency:"":0}} {{room.currency.code}}</span>
								</div>
								<input name="paymentValue" ng-model="deposit" hidden /> <input
									hidden name="methodBooking" value="â" /> <input hidden
									name="address" value="" /> <input hidden name="id_room"
									value="{{room.id}}" /> <input hidden name="quantity"
									value="=1" /> <input hidden name="todate" ng-model="checkin" />
								<input hidden name="enddate" ng-model="checkout" />
							</div>

						</div>
						<footer class="panel-footer text-left bg-light lter">
							<div class="checkbox">
								<label class="i-checks"> <input type="checkbox"
									ng-model="agree" required><i></i> Đồng ý với điều khoản
									dịch vụ của chúng tôi.
								</label>
							</div>
							<button type="submit" class="btn btn-success"
								ng-disabled="form.$invalid" ng-click="paymentClick()">Gửi
								đăng ký</button>
						</footer>
					</div>
			</form>
			<button ng-click="clicktest()">ssdf</button>
		</div>
	</div>
</div>
