<link href="template/reservation/css/bootstrap.css" rel="stylesheet"
	type="text/css" media="all" />
<link href="template/reservation/css/style.css" rel="stylesheet"
	type="text/css" media="all" />
<link rel="stylesheet" type="text/css"
	href="template/reservation/css/jquery-ui1.css">
<!-- js -->
<script src="template/reservation/js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
	rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->

<!--search-->
<div class="search-page">
	<div class="container">
		<div class="search-grids">
			<div class="col-md-4 search-grid-left">
				<div class="search-hotel">
					<h3 class="sear-head">Tìm phòng</h3>
					<form class="form-horizontal" name="editForm" role="form"
						ng-submit="find()" show-validation>
						<div class="form-group">
							<label class="control-label col-sm-4">Loại phòng</label>
							<div class="col-sm-8">
								<select class="form-control" id="field_type_room"
									name="type_room" ng-model="type_room">
									<option value="">Tất cả</option>
									<option ng-repeat="item in type_rooms" value="{{item.id}}">{{item.name}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">Ngày đến</label>
							<div class="col-sm-8">
								<input class="form-control" type="date" ng-model="fromDate"
									required="required">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">Ngày đi</label>
							<div class="col-sm-8">
								<input class="form-control" type="date" ng-model="toDate"
									required="required">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-9 col-sm-offset-3">
								<div class="form-group">
									<label class="control-label col-sm-1"><i
										class="icon-user-follow"></i></label>
									<div class="col-sm-5">
										<input type="number" class="form-control" min="0" max="5"
											ng-model="adults" ng-init="adults=0;" required="required">
									</div>
									<label class="control-label col-sm-1"><i
										class="fa fa-child"></i></label>
									<div class="col-sm-4">
										<input type="number" class="form-control" min="0" max="5"
											ng-model="kids" ng-init="kids=0;" required="required">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-offset-4 col-lg-8">
								<button type="submit" class="btn btn-sm"
									style="background-color: #511523; color: white;">Tìm
									kiếm</button>
							</div>
						</div>
					</form>
				</div>

				<div class="range">
					<h3 class="sear-head">Average nightly rate</h3>
					<ul class="dropdown-menu6">
						<li>

							<div id="slider-range"></div> <input type="text" id="amount"
							style="border: 0; color: #ffffff; font-weight: normal;" />
						</li>
					</ul>
					<!---->
					<script type='text/javascript'>
						//<![CDATA[ 
						$(window)
								.load(
										function() {
											$("#slider-range")
													.slider(
															{
																range : true,
																min : 0,
																max : 9000,
																values : [ 50,
																		6000 ],
																slide : function(
																		event,
																		ui) {
																	$("#amount")
																			.val(
																					"$"
																							+ ui.values[0]
																							+ " - $"
																							+ ui.values[1]);
																}
															});
											$("#amount")
													.val(
															"$"
																	+ $(
																			"#slider-range")
																			.slider(
																					"values",
																					0)
																	+ " - $"
																	+ $(
																			"#slider-range")
																			.slider(
																					"values",
																					1));

										});//]]>
					</script>

				</div>
				<div class="range-two">
					<h3 class="sear-head">Distance from</h3>
					<select class="sel">
						<option value="">Enter City Center</option>
						<option value="">Park View Center</option>
						<option value="">E Park Road</option>
						<option value="">Silver City</option>
					</select>

					<ul class="dropdown-menu5">
						<li>

							<div id="slider-range1"></div> <input type="text" id="amount1"
							style="border: 0; color: #ffffff; font-weight: normal;" />
						</li>
					</ul>
					<!---->
					<script type="text/javascript"
						src="template/reservation/js/jquery-ui.js"></script>

					<script type='text/javascript'>
						//<![CDATA[ 
						$(window)
								.load(
										function() {
											$("#slider-range1")
													.slider(
															{
																range : true,
																min : 0,
																max : 6000,
																values : [ 50,
																		5000 ],
																slide : function(
																		event,
																		ui) {
																	$(
																			"#amount1")
																			.val(
																					"KM-"
																							+ ui.values[0]
																							+ " - KM-"
																							+ ui.values[1]);
																}
															});
											$("#amount1")
													.val(
															"KM-"
																	+ $(
																			"#slider-range1")
																			.slider(
																					"values",
																					0)
																	+ " - KM-"
																	+ $(
																			"#slider-range1")
																			.slider(
																					"values",
																					1));

										});//]]>
					</script>
				</div>
				<div class="single-star-bottom">
					<h3 class="sear-head">Star rating</h3>

					<input type="checkbox" id="nike" value=""> <label
						for="nike"><span></span><b><img
							src="template/reservation/images/st2.png" alt="" /></b></label> <input
						type="checkbox" id="nike1" value=""> <label for="nike1"><span></span>
						<b><img src="template/reservation/images/st3.png" alt="" /></b></label> <input
						type="checkbox" id="nike2" value=""> <label for="nike2"><span></span><b><img
							src="template/reservation/images/st4.png" alt="" /></b></label> <input
						type="checkbox" id="nike3" value=""> <label for="nike3"><span></span>
						<b><img src="template/reservation/images/st5.png" alt="" /></b></label> <input
						type="checkbox" id="nike4" value=""> <label for="nike4"><span></span><b><img
							src="template/reservation/images/st.png" alt="" /></b></label>

				</div>

				<div class="menu-grid">
					<ul class="menu_drop">
						<li class="item1"><a href="template/reservation/#"><span
								class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>Features</a>
							<ul>
								<li class="subitem1"><a href="template/reservation/#">Roll-in
										shower </a></li>
								<li class="subitem2"><a href="template/reservation/#">Comfortable
										bathroom</a></li>
								<li class="subitem3"><a href="template/reservation/#">WI-FI
										facility</a></li>
							</ul></li>
						<li class="item2"><a href="template/reservation/#"><span
								class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>Facilities</a>
							<ul>
								<li class="subitem1"><a href="template/reservation/#">Childcare
								</a></li>
								<li class="subitem2"><a href="template/reservation/#">Gym</a></li>
								<li class="subitem3"><a href="template/reservation/#">Bar</a></li>
							</ul></li>
						<li class="item3"><a href="template/reservation/#"><span
								class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>Accommodation
								type</a>
							<ul>
								<li class="subitem1"><a href="template/reservation/#">Resort</a></li>
								<li class="subitem2"><a href="template/reservation/#">Hostel</a></li>
								<li class="subitem3"><a href="template/reservation/#">Apartment</a></li>
							</ul></li>
						<li class="item4"><a href="template/reservation/#"><span
								class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>Landmarks</a>
							<ul>
								<li class="subitem1"><a href="template/reservation/#">Mexican
										City</a></li>
								<li class="subitem2"><a href="template/reservation/#">Park
										View Center</a></li>
								<li class="subitem3"><a href="template/reservation/#">Land
										Park Center</a></li>
							</ul></li>
						<li class="item5"><a href="template/reservation/#"><span
								class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>Neighbourhood</a>
							<ul>
								<li class="subitem1"><a href="template/reservation/#">Diamond
										Park Colony</a></li>
								<li class="subitem2"><a href="template/reservation/#">E
										Park Road</a></li>
								<li class="subitem3"><a href="template/reservation/#">lake
										View Center</a></li>
							</ul></li>
					</ul>
					<!-- script for tabs -->
					<script type="text/javascript">
						$(function() {

							var menu_ul = $('.menu_drop > li > ul'), menu_a = $('.menu_drop > li > a');

							menu_ul.hide();

							menu_a.click(function(e) {
								e.preventDefault();
								if (!$(this).hasClass('active')) {
									menu_a.removeClass('active');
									menu_ul.filter(':visible')
											.slideUp('normal');
									$(this).addClass('active').next().stop(
											true, true).slideDown('normal');
								} else {
									$(this).removeClass('active');
									$(this).next().stop(true, true).slideUp(
											'normal');
								}
							});

						});
					</script>
					<!-- script for tabs -->

				</div>
			</div>
			<div class="col-sm-8 search-grid-right">
				<!-- modal-->
				<script type="text/ng-template" id="myModalContent.html">
        			<div ng-include="'tpl/modal.html'"></div>
    			</script>
				<!-- //modal-->
				<div ng-switch="arCurrent.length">
					<span ng-switch-when="0">Xin lỗi quý khách! Hiện tại tòa nhà
						đã hết phòng trống loại {{type_room}} từ ngày {{fromDate}} đến
						{{toDate}}. Quý khách vui lòng tìm với loại phòng khách hoặc liên
						hệ trung tâm chăm sóc khách hàng để được tư vấn : <strong>
							04.2220.9888</strong>
					</span>
				</div>
				<div class="hotel-rooms" ng-repeat="item in filteredTodos">
					<div class="hotel-left">
						<a ng-click="open('lg','{{item.id}}')"><span
							class="glyphicon glyphicon-bed" aria-hidden="true"></span>{{item.title}}</a>
						<p>{{item.decription}}</p>
						<div class="hotel-left-grids">
							<div class="hotel-left-one" ng-switch="item.imagess.length">
								<a ng-click="open('lg','{{item.id}}')"><img
									ng-switch-default ng-src="{{item.imagess[0].url}}" alt="" /><img
									ng-switch-when="0" ng-src="template/images/imageForm/1.jpg"
									alt="" /></a>
							</div>
							<div class="hotel-left-two">
								<div class="rating text-left">
									<strong>Loại phòng:</strong> {{item.type_room.name}}
								</div>
								<div ng-switch="item.is_pet">
									<i class='fa fa-check icon text-success' ng-switch-when="true"></i>
									<i class='fa icon-close icon text-danger'
										ng-switch-when="false"></i> Vật nuôi trong nhà
								</div>
								<div ng-switch="item.is_bed_kid">
									<i class='fa fa-check icon text-success' ng-switch-when="true"></i>
									<i class='fa icon-close icon text-danger'
										ng-switch-when="false"></i> Giường phụ cho cho trẻ em
								</div>
								<div>
									<strong><span class="glyphicon glyphicon-map-marker"
										aria-hidden="true"></span> Vị trí:</strong> {{item.orientation}}
								</div>
								<div>
									<strong><span class="glyphicon icon-map"
										aria-hidden="true"></span> Diện tích:</strong> {{item.surface_size}}
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="hotel-right text-right">
						<h4>
							<p>
								<span>{{item.daily_price | currency:"":0}}
									{{item.currency.code}}/ngày</span>
							</p>
							{{item.monthly_price | currency:"":0}} {{item.currency.code}}/tháng
						</h4>
						<p>
							<i class="fa fa-check text-success"></i>Giá tốt nhất
						</p>
						<a
							ui-sref="template.book({idRoom:'{{item.id}}',checkin:'{{fromDate | date:'yyyy-MM-dd'}}',checkout:'{{toDate | date:'yyyy-MM-dd'}}'})">Đặt
							phòng!</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="text-center">
					<pagination ng-model="currentPage" total-items='arCurrent.length'
						items-per-page='numPerPage' max-size="maxSize"
						boundary-links="true" class="pagination-sm m-t-none m-b"
						previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
						last-text="&raquo;"> </pagination>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//search-->
<!-- for bootstrap working -->
<script src="template/reservation/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- smooth scrolling -->