<div class="background">
	<div class=" h3">Giới thiệu mặt bằng khu văn phòng tòa nhà
		DMCTOWER :</div>
	<div class="content">
		<p style="font-weight: bold; margin-bottom: 10px">Với tổng diện
			tích sàn rộng lên tới 1.000 m2, các văn phòng được thiết kế thành
			nhiều diện tích mặt bằng đa dạng: 10 m2, 20 m2, 30 m2...... đến 850
			m2, đáp ứng tối đa theo nhu cầu của khách hàng.</p>

		<p>Các văn phòng được thiết kế độc đáo, ấn tượng theo phong cách
			kiến trúc hiện đại của phương Tây kết hợp với cách bài trí hài hòa,
			tinh tế, cách sắp đặt tỉ mỉ của hệ thống trang thiết bị, nội thất,
			tiện nghi theo quan niệm phong thủy Á Đông, tạo nên những không gian
			làm việc hoàn hảo, lý tưởng.Mặt khác khách hàng có thể tự thiết kế
			văn phòng theo sở thích riêng của mình.</p>
		<img alt=""
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/so-do-mat-bang/70m2-t-ng-1.JPG"
			title="Sơ đồ mặt bằng tầng 1"> <strong
			style="text-align: center;">Sơ đồ mặt bằng tầng 1</strong> <img
			alt="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/so-do-mat-bang/Chia-tang-2.JPG"
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/so-do-mat-bang/Chia-tang-2.JPG"
			title="Mặt bằng căn hộ 2 phòng ngủ 71 m2, 99 m2 và 120 m2"> <b
			style="text-align: center;">Sơ đồ mặt bằng từ tầng 2 -6</b> <img
			alt="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/so-do-mat-bang/Business-Center-17th-Floor.JPG"
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/so-do-mat-bang/Business-Center-17th-Floor.JPG"
			title="Sơ đồ mặt bằng tầng 17"> <b style="text-align: center;">Sơ
			đồ mặt bằng tầng 17</b> <img
			alt="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/so-do-mat-bang/Business-Center-18th-Floor-1-.JPG"
			src="tpl/dmctower.com.vn/Cms_Data/Contents/admin/Media/so-do-mat-bang/Business-Center-18th-Floor-1-.JPG"
			title="Sơ đồ mặt bằng tầng 18"> <b style="text-align: center;">Sơ
			đồ mặt bằng tầng 18</b>
		<div style="margin-top: 10px">
			<strong>Quý khách hàng lưu ý:</strong> Để thuận tiện cho việc giao
			dịch, Quý khách có thể thanh toán trực tuyến tiền thuê văn phòng hoặc
			căn hộ qua hệ thống mypay.vn. Để biết rõ thêm thông tin thanh toán
			trực tuyến qua kênh mypay Quý khách vui lòng gọi vào số hotline
			0964.955.758 hoặc truy cập website: <a href="www.mypay.vn"
				target="_blank">www.mypay.vn</a>
		</div>
	</div>

</div>