
<div class="services">
	<div class="services-prev">
		<iframe scrolling="no" height="250px" frameborder="0"
			webkitallowfullscreen="true" mozallowfullscreen="true"
			allowfullscreen="true"
			src="tpl/dmctower.com.vn/vanphong360/index.html"
			tppabs="http://dmctower.com.vn/vanphong360/index.html" name="_pano"
			class="paniframe"></iframe>
	</div>
	<div class="service-list">
		<div class=" h3">Thông tin về văn phòng cho thuê :</div>
		<ul>
			<li>Dịch vụ dọn vệ sinh hàng ngày (Trừ chủ nhật và các ngày lễ)</li>
			<li>Bảo vệ, lễ tân , kỹ thuật 24h/24</li>
			<li>Chỗ để xe ô tô</li>
			<li>20 – 25 USD/m2/tháng ( tùy theo diện tích và vị trí )</li>
			<li>Giá thuê đã bao gồm:<br /> - VAT (10%),phí dịch vụ,tiền
				điện điều hòa,tiền điện chiếu sáng
			</li>

			<li>Thời hạn thuê theo thỏa thuận</li>
			<li>Đặt cọc: 03 tháng</li>
			<li>Thanh toán: Theo tháng, hoặc theo quý.</li>
		</ul>
	</div>

	<div class="clear"></div>
	<div class=" h3">Thông tin tòa nhà :</div>
	<table class="table" summary="Sample Table">
		<tbody>
			<tr>
				<th scope="row">Tên cao ốc:</th>
				<td>Tòa nhà DMC Tower</td>
			</tr>
			<tr class="odd">
				<th scope="row">Địa chỉ:</th>
				<td>535 Kim Mã, Ba Đình, Hà Nội</td>
			</tr>
			<tr>
				<th scope="row">Chủ đầu tư:</th>
				<td>Công ty TNHH Tân Long</td>
			</tr>
			<tr>
				<th scope="row">Kết cấu cao ốc:</th>
				<td>02 tầng hầm, 02 tầng TTTM và 16 tầng căn hộ và văn phòng</td>
			</tr>
			<tr class="odd">
				<th scope="row">Tổng diện tích</th>
				<td>15.300 m2</td>
			</tr>
			<tr class="odd">
				<th scope="row">Diện tích 1 sàn:</th>
				<td>850 m2</td>
			</tr>
			<tr class="odd">
				<th scope="row">Diện tích cho thuê:</th>
				<td>Từ 10 m2 đến 850 m2</td>
			</tr>
		</tbody>
	</table>
	<div class="clear"></div>
	<div class=" h3">Hỗ trợ tư vấn cho thuê căn hộ và văn phòng :</div>
	<ul>
		<li style="color: #3A0F19;">Hotline 1: Ms.Hoài - 0936 773 915</li>
		<li style="color: #3A0F19;">Hotline 2: Mr Khánh - 0973.743.32</li>
		<li style="color: #3A0F19;">Hotline 3: Ms Hà - 0988.686.205</li>
	</ul>
	<div class="clear"></div>
</div>