
<div class="services">
	<div class="left-padding">
		<div class=" h4">
			<i class="glyphicon icon-home icon text-primary-dker"></i> Danh mục
		</div>
		<div class="panel h4">
			<div style="margin: 5px 5px;" ui-sref-active="active">
				<i class="fa fa-caret-right"></i><a ui-sref="template.office.home">
					Tổng quan văn phòng</a>
			</div>
			<div style="margin: 5px 5px" ui-sref-active="active">
				<i class="fa fa-caret-right"></i><a
					ui-sref="template.office.background"> Mặt bằng</a>
			</div>
		</div>
	</div>
	<div class="service-list" ui-view></div>
	<div class="clear"></div>
</div>